body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
.container {
    width: 1200px;
    margin: auto;
}

.main-header {
    padding-top: 10px;
}
.main-header .logo {
    float: left;
    width: 600px;
}

.main-header .right-logo img {
    width: 110px;
}
.main-header .right-logo {
    float: right;
    width: 210px;
}
.inner-left-menu ul {
    margin: 0px;
    padding: 0px;
}
.inner-left-menu ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
}
.inner-left-menu ul li:first-child {
    margin-left: 0px;
}
.inner-left-menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #666;
}

.inner-left-menu {
    padding-top: 20px;
}
.right-logo span.phone {
    font-size: 25px;
    color: #00f
}

.banner  {
    width: 100%;
    height: 200px;
    background-image: url(../images/bghero-example.jpg);
    margin-top: 30px;
}

.left-content, .right-content {
    float: left;
    width: 380px;
}
.left-content {
    height: 600px;
    background: #104687;
    padding: 15px;
}
.left-content ul {
    padding: 20px;
    padding-top: 0px;
    margin: 0px;
}

.left-content ul li {
    padding-left: 5px;
    line-height: 2.0em;
    font-size: 18px;
    color: #ccc;
    font-weight:normal;
}

.left-content h2 {
    color: #fff;
    margin-bottom: 0px;
    font-size: 25px;
    margin-top: 5px;
    font-weight: normal;
}

.line {
    border-top: 1px solid #000;
    border-bottom: 1px solid  #000;
    padding: 8px 0px;
}
.right-content h2 {
    font-size: 45px;
    font-weight: normal;
    color: #fff;
    padding: 20px;
    margin-top: 0px;
}
.right-content p a, .right-content p  {
    color: #fff;
    text-decoration: none;
}
.right-content p {
    padding-left: 20px;
}
.body-content {
    width: 750px;
    float: right;
    height: 300px;
}
.clr {
    clear: both;
}
.body-content {
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    /* color: #262626; */
}
.body-content h1 strong {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}
.body-content p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1em;
    color: #000;
    font-weight: bold;
}
.thumbnails img {
    border: 1px solid #262626;
    padding-top: 5px;
}
.thumbnails {
    position: relative;
    display: block;
}
.body-content h1 a {
    color: #064086;
    text-decoration: none;
}
.body-content h1 a:hover {
    color: rgba(184, 12, 12, 0.822);
    text-decoration: underline;
}
.side-message strong {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}
.side-message {
    color: #fff;
    font-size: 120%;
    line-height: 2em;
    letter-spacing: 0.1em;
}
.side-link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.315);
    font-size: 100%;
}
.side-link a:hover {
    background-color: #081F3F;
    z-index: -1;
    transition: all 0.5s ease 0s;
    background-position: left;
}
.body-content h3 {
    color: #262626;
}
.paragraphs {
    text-decoration: none;
}
.work-description {
    text-align: left;
    width: 100%;
}
.work-description p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.anchor a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    text-decoration: none;
}
.anchor a:hover {
    color: #BB2825;
}

.school_works, .images {
    float: left;
}

.images {
    border: 1px solid #081F3F;
    padding: 20px 20px 20px 20px;
    margin: 40px 40px 0px 0px;
}
.contact {
    text-decoration: #262626;
}
.form {
    margin-top: 10px;
}
.form a {
    text-decoration: none;
    color: #104687;
}
.form p {
    font-size: large;
    text-align: justify;
}
.footer {
    background-color: #262626;
    width: 100%;
    height: 350px;
    margin-top: 1900px;
}
.left_image i {
    color: #fff;
}
.right_image img {
    margin-top: 30px;
    margin-right: 700px;
    margin-left: 30px;
}
.right_image img:hover {
    cursor: pointer;
}
.right_image p {
    margin-top: 0px;
    margin-left: 100px;
    font-weight: bold;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.right_image p a {
    text-decoration: none;
    color: #fff;
}
.right_image p a:hover {
    text-decoration: underline;
}
.left_image img {
    margin-top: 70px;
    width: 110px;
}
.right_image, .left_image {
    float: left;
}
.footer_list ul {
    margin-top: 90px;
    margin-left: 700px;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
ul > li a {
    text-decoration: none;
    color: #fff;
}
/* ul > li {
    list-style: none;
} */
ul > li a:hover {
    text-decoration: underline;
}
p span.error {
    color:#f00;
}
